#!/bin/bash
/sbin/sysctl -w net.ipv4.ip_forward=1
/sbin/iptables -t nat -N repmgr_dnat
/sbin/iptables -t nat -A OUTPUT -j repmgr_dnat
/sbin/iptables -t nat -A PREROUTING -j repmgr_dnat
/sbin/iptables -t nat -N repmgr_snat
/sbin/iptables -t nat -A POSTROUTING -j repmgr_snat
if [[ -f {{ repmgrd_master_file }} ]]; then
        master=$(cat {{ repmgrd_master_file }})
        /usr/bin/sudo -u postgres {{ repmgrd_handler_script }} $master standby_promote
fi
