dev {{ ovpn_dev }}
port {{ ovpn_port }}
ifconfig {{ local_ip }} {{ hostvars[ovpn_client_host].local_ip }}
secret {{ ovpn_server_key }}
cipher {{ ovpn_cipher }}
keepalive {{ ovpn_keepalive }}
ping-timer-rem
