node_id={{ repmgr_id }}
node_name={{ inventory_hostname }}
conninfo='host={{ local_ip }} user=repmgr dbname=repmgr connect_timeout=2'
data_directory='{{ pg_data_dir }}'
pg_bindir='{{ pg_bin_dir }}'

service_start_command='sudo pg_ctlcluster 11 main start'
service_stop_command='sudo pg_ctlcluster 11 main stop'
service_restart_command='sudo pg_ctlcluster 11 main restart'
service_reload_command='sudo pg_ctlcluster 11 main reload'

log_facility=LOCAL0