node_id={{ hostvars[repmgrd_db_host].repmgr_id }}
node_name={{ repmgrd_db_host }}
conninfo='host={{ hostvars[repmgrd_db_host].local_ip }} user=repmgr dbname=repmgr connect_timeout=2'
data_directory='{{ pg_data_dir }}'

failover=automatic
promote_command='ssh postgres@{{ hostvars[repmgrd_db_host].local_ip }} /usr/bin/repmgr standby promote -f {{ repmgr_config }} --log-to-file'
follow_command='ssh postgres@{{ hostvars[repmgrd_db_host].local_ip }} /usr/bin/repmgr standby follow -f {{ repmgr_config }} --log-to-file --upstream-node-id=%n'
service_promote_command='ssh postgres@{{ hostvars[repmgrd_db_host].local_ip }} /usr/lib/postgresql/11/bin/pg_ctl -w -D {{ pg_data_dir }} promote'
monitoring_history=yes
monitor_interval_secs=2

log_facility=LOCAL0

